{% set generic_hook = 'sylius_admin.base' %}
{% set prefixes = prefixes|default([])|merge([generic_hook]) %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% apply striptags %}{% hook '#base_title' with { _prefixes: prefixes } %}{% endapply %}{% endblock %}</title>

    {% block metatags %}{% endblock %}
    {% block stylesheets %}
        {% hook '#stylesheets' with { _prefixes: prefixes } %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="page">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {% hook '#javascripts' with { _prefixes: prefixes } %}
{% endblock %}
</body>
</html>
