includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    paths:
        - 'src/TwigExtra/src'
        - 'src/TwigHooks/src'
