<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.6" />
    </php>

    <testsuites>
        <testsuite name="MainTestSuite">
            <directory>tests</directory>
        </testsuite>

        <testsuite name="TranslationsTestSuite">
            <directory>tests/Translations</directory>
        </testsuite>

        <testsuite name="AdminUiTestSuite">
            <directory>src/AdminUi/tests</directory>
            <exclude>src/AdminUi/tests/Functional</exclude>
        </testsuite>

        <testsuite name="BehatBridgeTestSuite">
            <directory>src/BehatBridge/tests</directory>
        </testsuite>

        <testsuite name="TwigExtraTestSuite">
            <directory>src/TwigExtra/tests</directory>
            <exclude>src/TwigExtra/tests/Functional</exclude>
        </testsuite>

        <testsuite name="TwigHooksTestSuite">
            <directory>src/TwigHooks/tests</directory>
            <exclude>src/TwigHooks/tests/Functional</exclude>
        </testsuite>

        <testsuite name="UiTranslationsTestSuite">
            <directory>src/UiTranslations/tests</directory>
            <exclude>src/UiTranslations/tests/Functional</exclude>
        </testsuite>
    </testsuites>

    <extensions>
    </extensions>
</phpunit>
