{% set book = hookable_metadata.context.resource %}

<div class="page-body">
    <div class="container-xl">
        <div class="card mb-3">
            <div class="card-body" {{ sylius_test_html_attribute('author-name') }}>
                <strong>{{ 'app.ui.author'|trans }}:</strong>
                {{ book.authorName }}
            </div>
        </div>
    </div>
</div>
