{% if options.link.url is defined %}
    {% set path = options.link.url %}
{% else %}
    {% set default_route = options.link.route|default(grid.requestConfiguration is defined ? grid.requestConfiguration.getRouteName('update') : null) %}
    {% set path = options.link.url|default(default_route ? path(default_route, options.link.parameters|default({'id': data.id})): null) %}
{% endif %}

{% set message = action.label|default('sylius.ui.edit') %}
{% set disabled = path is empty %}

<a href="{{ path }}" class="btn btn-icon {% if disabled %}disabled{% endif %}" data-bs-toggle="tooltip" data-bs-title="{{ message|trans }}">
    {{ ux_icon(action.icon|default('tabler:pencil')) }}
</a>
