<div class="collapse navbar-collapse" id="sidebar-menu">
    {% include '@SyliusBootstrapAdminUi/shared/crud/common/sidebar/search.html.twig' %}
    {{ knp_menu_render('sylius_admin_ui.menu.sidebar', {'template': '@SyliusBootstrapAdminUi/shared/crud/common/sidebar/menu/menu.html.twig', 'currentClass': 'active'}) }}
</div>
