{% set statistics_data = hookable_metadata.context.statistics_data %}

<div class="col-sm-6 col-lg-4 mb-3">
    <div class="card card-sm">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-auto">
                    <span class="bg-gray text-black-50 avatar">
                        {{ ux_icon('tabler:users') }}
                    </span>
                </div>
                <div class="col">
                    <div class="subheader">{{ 'app.ui.conferences'|trans }}</div>
                    <div class="h2 mb-0 me-2" {{ sylius_test_html_attribute('total-conferences') }}>
                        {{ statistics_data.business_activity_summary.totalConferences }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
