{% if _context.hidden is not defined or _context.hidden == false %}
    <div class="empty-img">
        <img src="{{ asset(_context.image|default('bundles/syliusbootstrapadminui/images/no_data.svg')) }}" height="128" alt="">
    </div>
{% endif %}
